<!-- MIS TIRUSTAS -->
<br><br><br>
<table class="table ">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>PAIS</th>
            <th>TELEFONO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td><button type="button" class="btn btn-primary">EDITAR</button></td>
        </tr> -->
        
        <tr *ngFor="let item of personas$ | async ">
            <td>{{item.id}}</td>
            <td>{{item.dni}}</td>
            <td>{{item.nombre}} {{item.apellido}}</td>

            <td>{{item.correo}}</td>
            <td>{{item.pais}}</td>
            <td>{{item.telefono}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="Editar(item.id)">EDITAR</button>
            </td>
        </tr>
    </tbody>
</table>
