<!-- <ul>
    <li><a href=""></a></li>
    <li><a routerLink="Home">Home</a></li>
    <li><a routerLink="Perfil" >Perfil</a></li>
    <li><a routerLink="Reserva" >Reservas</a></li>
    <li><a routerLink="Habitaciones" >Habitaciones</a></li>
    <li><a routerLink="Perfil"  >Graficas</a></li>

</ul> -->


<nav>
    <ul>
        <li><a routerLink="Home">Home</a></li>
        <li><a routerLink="Perfil" >Perfil</a></li>
        <li><a routerLink="Reserva" >Reservas</a></li>
        <li><a routerLink="Habitaciones" >Habitaciones</a></li>
        <li><a routerLink="Perfil"  >Graficas</a></li>
    </ul>
</nav>

<!-- {{empresa$ | async | json}} -->
<router-outlet></router-outlet>
