body {
  background: rgb(195, 235, 226);
  background: radial-gradient(circle, #c3ebe2 29%, rgba(243, 251, 249, 1) 74%);
 
}


.eliminar{
  border-radius: 20px;
	background: rgb(238,174,174);
  border-color: #ffffff;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.actualizar{
  border-radius: 20px;
  background: rgb(174,175,238); 
	border-color: #ffffff;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
