<!-- <p>business-habitaciones works!</p> -->
<button class="btn btn-primary" (click)="openHabitacion(0)">Agregar</button>
<div *ngFor="let item of habitacionesByEmpresa">
  <div class="card">
    <div class="content">
      <div class="front">
        <h1>{{item.nombre  | uppercase  }}</h1>
        <img  [src]="item.imagen" alt="" width="90%" height="70%">
      </div>
      <div class="back">
      <div class="container">
        <h1>{{item.nombre |  titlecase }}</h1>
        <table class="table table-bordered table-hover mt-2 text-white">
          <tbody>
            <!-- {{item|json}} -->
          <tr>
            <th scope="row">Precio</th>
            <th>{{item.precio  | number:'1.0-3' }}</th>
          </tr>
          <tr>
            <th scope="row">Cantidad Persona</th>
            <th>{{item.cantidadPersona}}</th>
          </tr>
          <tr>
            <th scope="row">Cantidad Habitacion</th>
            <th>{{item.cantidadHabitacion}}</th>
          </tr>
          <tr>
            <th scope="row">Descripcion</th>
            <th>{{item.descripcion}}</th>
          </tr>
          </tbody>
        </table>
      </div>
        <!-- <img src="../../../../asssets/images/logo.png" alt="" width="90%" height="50%"> -->
        <hr>
        <button class="btn btn-success" (click)="openHabitacion(item.id)"> editar</button>
        <button class="btn btn-warning ms-3"> eliminar</button>
      </div>
    </div>
  </div>
  <!-- {{item.nombre}}
  {{item.idempresa.descripcion}}
  {{item.precio}} -->
</div>
