/* table{
    width: 70%;
    margin: auto;
} */


 /* tabla*/
  table{
    background: rgb(195, 235, 226);
    background: radial-gradient(circle, #c3ebe2 29%, rgba(243, 251, 249, 1) 74%);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 988px;
    max-width: 250%;
    min-height: 480px;
    
    margin: 0 auto;
    padding: 0 20px;
  }


 
/* botones*/
  
  .aceptar{
    border-radius: 20px;
	background: rgb(174,175,238); 
	border-color: #ffffff;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.suspender{
    border-radius: 20px;
	background: rgb(238,174,174);
	border-color: #ffffff;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.ver{
  border-radius: 20px;
	background: rgb(238,174,217);
	border-color: #ffffff;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: .3s;
}
    
.ver:hover{
  background: rgb(173, 118, 155);
  color: #ffffff;
}