<br>
<h1 class="text-center">MIS EMPRESAS</h1>
<br>
<table class="table table-bordered table-hover text-center ">
  <thead>
    <tr class="thead-inverse">
      <th>CIUDAD</th>
      <th> DESCRPCION</th>
      <!-- <th>id</th> -->
      <th>PAIS</th>
      <th>TIPO</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of empresas$ | async ">
      <td>{{item.ciudad | uppercase}}</td>
      <td>{{item.descripcion | uppercase}}</td>
      <!-- <td>{{item.id }}</td> -->
      <td>{{item.pais | uppercase}}</td>
      <td>{{item.tipo | uppercase}}</td>
      <!-- <td>{{item.activo}}</td> -->
      <td>
        <div *ngIf="(!item.activo);then inactivo; else activo"></div>
        <ng-template #inactivo>
          <button class="aceptar" (click)="Aceptar(item.id)">ACEPTAR</button>
          <!-- <button class="btn btn-danger"> ELIMINAR</button> -->
        </ng-template>
        <ng-template #activo>
          <button class="ver" (click)="openDialog(item.id)" >Ver mas</button>
          <button class="suspender" (click)="Aceptar(item.id)"  >SUSPENDER</button>
        </ng-template>
        <!-- <button (click)="editarEmpresa(empresas.id)">Editar</button> -->
      </td>
    </tr>
  </tbody>
</table>    
